html,body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: slategray;
} 
 /* Header section */

.header-container{
    background-color:darkolivegreen;
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

nav{
    margin-left: 500px;
    display: flex;
    gap: 70px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav a:hover{
    color:goldenrod;
}
.section h2{
    font-size: 3.5em;
    margin-bottom: 20px;
    color:black;
    text-align: center;
}

/*HOME SECTON*/

#HOME {
    background-image: url(./Images/bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
    margin-bottom: 10px;
}
  
#HOME p{
   width:100%;
   color:white;
   padding-left: 10px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   padding-top: 100px;
}

span{
    color: aqua;
}
#HOME button{
    color:white;
    font-size: large;
    padding: 20px;
    cursor: pointer;
    background-color: red;

}