html,body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: slategray;
} 

.header-container{
    background-color:darkolivegreen;
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

nav{
    margin-left: 500px;
    display: flex;
    gap: 70px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav a:hover{
    color:goldenrod;
}
.section h2{
    font-size: 3.5em;
    margin-bottom: 20px;
    color:black;
    text-align: center;
}
